<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/code/java_api_framework">
        <classes>
            <class name="com.lemon.testcase.InvestFlow">
            </class>
            <class name="com.lemon.testcase.LoginTest">
            </class>
            <class name="com.lemon.testcase.RechargeTest">
            </class>
            <class name="com.lemon.testcase.RegisterTest">
            </class>
            <class name="com.lemon.testcase.UserInfoTest">
            </class>
        </classes>
    </test>
</suite>